POSTGRES_DB=gestionrecursos
POSTGRES_USER=gestion_user
POSTGRES_PASSWORD=gestion_pass
POSTGRES_PORT=5436

BACKEND_PORT=4000
FRONTEND_PORT=3000

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak_pass
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin_pass
KEYCLOAK_PORT=8081
